@font-face {
    font-family: 'Nunito-Light';
    font-display: auto;
    src: url('../fonts/Nunito/Nunito-Light.woff2') format('woff2'),
        url('../fonts/Nunito/Nunito-Light.woff') format('woff');
}

@font-face {
    font-family: 'Nunito-Regular';
    font-display: auto;
    src: url('../fonts/Nunito/Nunito-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Nunito-SemiBold';
    font-display: auto;
    src: url('../fonts/Nunito/Nunito-SemiBold.woff2') format('woff2'),
        url('../fonts/Nunito/Nunito-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Nunito-Bold';
    font-display: auto;
    src: url('../fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito/Nunito-Bold.woff') format('woff');
}